---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { FeaturesSectionWithHoverEffects } from "@/components/Features";

interface Hero115Props {
  heading: string;
  description: string;
  button: {
    text: string;
    url: string;
  };
  imageSrc?: string;
  imageAlt?: string;
}

const Hero115 = {
  heading: "ABOUT NIKAHLY",
  description: "Nikahly is a faith-centered Muslim matrimonial platform designed to help you find a righteous partner through a secure, respectful, and Shariah-compliant process. With features like Wali (Guardian) involvement, AI-powered moderation, and Islamic value-based matchmaking. Nikahly ensures every connection is serious and spritually aligned.",
  description2: "No casual dating. No distractions. Just sincere intensions for nikah. Join now and start your journey!",
  button: {
    text: "GET STARTED",
    url: "/signup",
  },
  waliButton: {
    text: "JOIN AS WALI",
    url: "/wali",
  },
  imageSrc: "/about-hero.svg",
  imageAlt: "hero",
};
---

<Layout>
    
    <!-- ------ ------ ------ HERO SECTION DIV START ------ ------ ------ -->

    <section class="overflow-hidden py-32">
        <div class="container">
            <div class="flex flex-col gap-5">
                <div class="relative flex flex-col gap-5">
                    <img
                        src={Hero115.imageSrc}
                        alt={Hero115.imageAlt}
                        class="mx-auto h-full max-h-[450px] w-full max-w-screen-sm rounded-2xl object-cover"
                    />
                    <h2 class="mx-auto max-w-screen-2xl font-poppins uppercase text-center text-primary text-3xl font-bold md:text-6xl">
                        {Hero115.heading}
                    </h2>
                    <p class="mx-auto mt-2 md:mt-4 max-w-screen-xl text-center text-muted-foreground md:text-lg">
                        {Hero115.description}
                        <br /> <br />
                        {Hero115.description2}
                    </p>

                </div>
            </div>
        </div>
    </section>
    
    <!-- ------ ------ ------ HERO SECTION DIV END ------ ------ ------ -->

    <!-- ------ ------ ------ NAMING PROCESS SECTION DIV START ------ ------ ------ -->


    <div class="container">
        <div class="flex gap-2 flex-col lg:justify-left lg:items-left text-center lg:text-left">
            <h2 class="text-3xl md:text-5xl font-poppins font-regular text-primary">
              The Naming Process
            </h2>

            <div class="lg:flex lg:flex-row-reverse">
                <img src="/naming-section.svg" alt="couple" class="block mx-auto lg:mx-0 lg:w-1/2 lg:h-1/2 w-80 h-80">
                <div id="paras" class="flex flex-col md:gap-10 text-muted-foreground md:text-lg">
                    <p class="text-md md:text-2xl font-light text-wrap p-5 font-sans">
                        The word <strong>“Nikah (نكاح)”</strong> refers to marriage or wedlock in English. The addition of <strong>“ly (لي)”</strong> is an Arabic 
                        pronoun which means for me or mine in English. The word <strong>Nikahly</strong> is a combination of the word <strong>“Nikah”</strong> and  
                        suffix <strong>“ly”</strong>.  The complete meaning of the word would be <strong>“Marriage for me”</strong>.
                    </p>
        
                    <p class="text-md md:text-2xl font-light text-wrap p-5 font-sans">
                        <strong>Nikahly</strong> offers sincere and practicing Muslims a <strong>halal</strong> and faith-centered approach to marriage. The platform 
                        provides a trusted space, follows <strong>Shari’ah rulings</strong> and cultural sensitivities to help find potential like-minded,
                        <strong>compatible partners</strong>.
                    </p>
                </div>
            </div>    
        </div>
    </div>


    <!-- ------ ------ ------ NAMING PROCESS SECTION DIV END ------ ------ ------ -->

    <br /> <br /> <br /> <br />
    <!-- ------ ------ ------ Services Section Div Start ------ ------ ------ -->
    <div class="flex gap-2 flex-col justify-center items-center container">
        <h2 class="text-3xl md:text-5xl tracking-tighter max-w-xl font-poppins text-center font-regular text-primary">
          Our Services
        </h2>
        <p class="text-lg leading-relaxed tracking-tight text-muted-foreground max-w-2xl font-sans text-center">
          We offer a range of services to help you find the perfect match for your spouse.
        </p>
      </div>
      <FeaturesSectionWithHoverEffects />

</Layout>
