---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { Select, SelectContent, SelectItem, SelectTrigger, SelectValue } from "@/components/ui/select";
import CustomSelect from "../components/dropdownmenu.tsx";

const handleSelectChange = (value: string, name: string) => {
  console.log(`${name}: ${value}`);
};

const nationalityOptions = [
  { label: "Pakistani", value: "pakistani" },
  { label: "Indian", value: "indian" },
  { label: "Bangladeshi", value: "bangladeshi" },
  { label: "British", value: "british" },
  { label: "Other", value: "other" },
];

const residenceOptions = [
  { label: "Pakistani", value: "pakistani" },
  { label: "Indian", value: "indian" },
  { label: "Bangladeshi", value: "bangladeshi" },
  { label: "British", value: "british" },
  { label: "Other", value: "other" },
];

const maritalStatusOptions = [
  { label: "Single", value: "single" },
  { label: "Married", value: "married" },
  { label: "Divorced", value: "divorced" },
  { label: "Widowed", value: "widowed" },
];

const ageOptions = Array.from({ length: 83 }, (_, i) => ({
  label: `${18 + i}`,
  value: `${18 + i}`,
}));


interface Hero115Props {
  heading: string;
  description: string;
}

const Hero115 = {
  heading: "Find your match - the halal way!",
  description: "We’re here to help you find the partner you’ve been praying for - a companion to complete half your faith and share a lifetime of love, trust, and purpose. Begin your journey with us today, where meaningful connections are built on shared values, sincerity, and hope for the future.",
};
---

<Layout>

    <section class="overflow-hidden py-32">
        <div class="container">
          <div class="flex flex-col gap-5">
            <div class="relative flex flex-col gap-5">
              <h2 class="mx-auto max-w-screen-2xl uppercase text-center text-primary text-3xl font-bold md:text-5xl">
                {Hero115.heading}
              </h2>
              <p class="mx-auto mt-2 md:mt-4 max-w-screen-xl text-center text-muted-foreground md:text-lg">
                {Hero115.description}
              </p>
            </div>
          </div>
        </div>
      </section>

      <img src="/fym-mainimg.svg" alt="fym" class="hidden lg:block lg:absolute lg:z-10 lg:w-80 lg:h-96 lg:top-80 lg:right-0 lg:left-0 lg:mx-auto lg:mt-10"/>


      <div class="container">

        <div class="mx-auto bg-muted border rounded-xl p-10 flex flex-col gap-10 mt-28">
        
          <h3 class="text-center text-2xl lg:text-4xl font-bold p-4 uppercase text-primary text-wrap">Find Your Match - Search</h3>
          
          <div class="flex flex-col gap-6 mt-10">

            <h4 class="text-left text-xl lg:text-2xl font-bold p-4 text-primary text-wrap">General Info</h4>

            <div class="flex flex-wrap gap-6">

              <div class="flex-1 min-w-[150px] text-wrap">
                  <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Nationality</h6>
                  <CustomSelect client:load name="nationality" placeholder="Select Nationality" options={nationalityOptions} onChange={(value) => handleSelectChange(value, "nationality")}/>
              </div>
    
              <div class="flex-1 min-w-[150px] text-wrap">
                  <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Residence</h6>
                  <CustomSelect client:load name="residence" placeholder="Select Residence" options={residenceOptions} onChange={(value) => handleSelectChange(value, "residence")}/>
              </div>
            </div>
          </div>
  
          <div class="flex flex-wrap gap-6">
            <div class="flex-1 min-w-[150px] text-wrap">
              <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Marital Status</h6>
              <CustomSelect client:load name="maritalStatus" placeholder="Select Marital Status" options={maritalStatusOptions} onChange={(value) => handleSelectChange(value, "maritalStatus")}/>
          </div>
  
          <div class="flex-1 min-w-[150px] text-wrap">
              <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Age</h6>
              <CustomSelect client:load name="age" placeholder="Select Age" options={ageOptions} onChange={(value) => handleSelectChange(value, "age")}/>
          </div>
        </div>
        
      </div>
</Layout> 