---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import PricingContent from "@/components/pricingContent.astro";
import { FeaturesSectionWithHoverEffects } from "@/components/Features";
import "@fontsource/kulim-park";
import "@fontsource/poppins";

interface Hero115Props {
  heading: string;
  description: string;
  button: {
    text: string;
    url: string;
  };
  imageSrc?: string;
  imageAlt?: string;
}

const Hero115 = {
  heading: "Find your match - the halal way!",
  description: "We’re here to help you find the partner you’ve been praying for - a companion to complete half your faith and share a lifetime of love, trust, and purpose. Begin your journey with us today, where meaningful connections are built on shared values, sincerity, and hope for the future.",
  button: {
    text: "GET STARTED",
    url: "/signup",
  },
  waliButton: {
    text: "JOIN AS WALI",
    url: "/wali",
  },
  imageSrc: "/heroimg.svg",
  imageAlt: "hero",
};
---

<Layout>

    <!-- ------ ------ ------ Hero Section Div Start ------ ------ ------ -->
    <section class="overflow-hidden py-32">
      <div class="container">
        <div class="flex flex-col gap-5">
          <div class="relative flex flex-col gap-5">
            <img
              src={Hero115.imageSrc}
              alt={Hero115.imageAlt}
              class="mx-auto h-full max-h-[450px] w-full max-w-screen-sm rounded-2xl object-cover"
            />
            <h2 class="mx-auto max-w-screen-2xl uppercase text-center text-primary text-3xl font-bold md:text-5xl">
              {Hero115.heading}
            </h2>
            <p class="mx-auto mt-2 md:mt-4 max-w-screen-xl text-center text-muted-foreground md:text-lg">
              {Hero115.description}
            </p>
            <div class="flex items-center justify-center gap-5 md:gap-10 pb-12 pt-3">
              {Hero115.waliButton && (
                <Button size="lg" className="bg-white text-primary border-2 border-gradient-start hover:border-primary md:px-10 md:text-lg rounded-full md:h-12 hover:bg-primary hover:text-white transition-all duration-100">
                  <a href={Hero115.waliButton.url}>
                    {Hero115.waliButton.text}
                  </a>
                </Button>
              )}
              <Button size="lg" className="bg-gradient-to-b from-gradient-start to-gradient-end hover:bg-gradient-to-b hover:from-white hover:to-white hover:text-primary hover:border-2 hover:border-gradient-start hover:transition-all hover:duration-100 md:px-10 rounded-full md:h-12">
                <a href={Hero115.button.url}>
                  {Hero115.button.text}
                </a>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ------ ------ ------ Hero Section Div End ------ ------ ------ -->

    <!-- ------ ------ ------ Services Section Div Start ------ ------ ------ -->
    <div class="flex gap-2 flex-col justify-center items-center container">
      <h2 class="text-3xl md:text-5xl tracking-tighter max-w-xl text-center font-regular text-primary">
        Our Services
      </h2>
      <p class="text-lg leading-relaxed tracking-tight text-muted-foreground max-w-2xl text-center">
        We offer a range of services to help you find the perfect match for your spouse.
      </p>
    </div>
    <FeaturesSectionWithHoverEffects />
    <!-- ------ ------ ------ Services Section Div End ------ ------ ------ -->

    <!-- ------ ------ ------ About Section Div Start ------ ------ ------ -->

    <div class="flex gap-2 flex-col justify-center items-center container">
      <h2 class="text-3xl md:text-5xl tracking-tighter max-w-xl text-center font-regular text-primary">
        About Nikahly
      </h2>
      <p class="text-lg leading-relaxed tracking-tight text-muted-foreground max-w-2xl text-center">
        Nikahly is a platform that helps Muslims find their perfect match for marriage.
      </p>
    </div>

    <div id="about-section" class="container bg-primary p-12 mt-12 border rounded-3xl lg:flex lg:flex-row-reverse">
        <img src="/about-couple.svg" alt="couple" class="block mx-auto lg:mx-0 lg:w-1/2 lg:h-1/2 w-80 h-80">
        <div id="paras" class="text-white flex flex-col items-center justify-center md:gap-10">
            <p class="text-md md:text-2xl font-light text-wrap text-center p-5">
                The word <strong>“Nikah (نكاح)”</strong> refers to marriage or wedlock in English. The addition of <strong>“ly (لي)”</strong> is an Arabic 
                pronoun which means for me or mine in English. The word <strong>Nikahly</strong> is a combination of the word <strong>“Nikah”</strong> and  
                suffix <strong>“ly”</strong>.  The complete meaning of the word would be <strong>“Marriage for me”</strong>.
            </p>

            <p class="text-md md:text-2xl font-light text-wrap text-center p-5">
                <strong>Nikahly</strong> offers sincere and practicing Muslims a <strong>halal</strong> and faith-centered approach to marriage. The platform 
                provides a trusted space, follows <strong>Shari’ah rulings</strong> and cultural sensitivities to help find potential like-minded,
                <strong>compatible partners</strong>.
            </p>
        </div>

    </div>

    <!-- ------ ------ ------ About Section Div End ------ ------ ------ -->

    <!-- ------ ------ ------ Pricing Section Div Start ------ ------ ------ -->

  <PricingContent />

    <!-- ------ ------ ------ Pricing Section Div End ------ ------ ------ -->

    <!-- ------ ------ ------ Aayah Section Div Start ------ ------ ------ -->

    <div id="aayah-section" class="container flex flex-col-reverse lg:flex-row justify-between items-center gap-6">
      <img src="/aayah-pointing-img.svg" alt="aayah" class="block mx-auto lg:mx-0 lg:w-1/2 lg:h-1/2 w-80 h-80">

      <div id="aayahs" class="container flex flex-col items-center justify-center gap-4">
        <h2 class="text-xl md:text-3xl font-semibold text-primary text-center">
          وَٱلطَّيِّبَـٰتُ لِلطَّيِّبِينَ وَٱلطَّيِّبُونَ لِلطَّيِّبَـٰتِ
        </h2>
        <p class="text-primary text-lg">
          سورة النور - ٢٤:٢٨
        </p>

        <br /> 

        <h2 class="text-xl md:text-3xl font-semibold text-primary text-center uppercase">
          And virtuous women are for virtuous men, and virtuous men are for virtuous women
        </h2>
        <p class="text-primary text-sm">
          An Nur : 24:28
        </p>
      </div>
    </div>


</Layout>