---
import "../styles/global.css";
import OnboardLayout from "../layouts/OnboardLayout.astro";
import "@fontsource/kulim-park";
import "@fontsource/poppins";
import { Select, SelectContent, SelectItem, SelectTrigger, SelectValue } from "@/components/ui/select";
import CustomSelect from "../components/dropdownmenu.tsx";
import { Textarea } from "@/components/ui/textarea";

const handleSelectChange = (value: string, name: string) => {
  console.log(`${name}: ${value}`);
};

const devotionOptions = [
  { label: "Complete devotion", value: "complete devotion" },
  { label: "Partial devotion", value: "partial devotion" },
];

const sectOptions = [
  { label: "Sunni", value: "sunni" },
  { label: "Shia", value: "shia" },
];

const revertOptions = [
  { label: "Yes", value: "yes" },
  { label: "No", value: "no" },
];

const practicingSinceOptions = [
  { label: "Birth", value: "birth" },
  { label: "Other", value: "other" },
];

const prayerPatternOptions = [
  { label: "Daily", value: "daily" },
  { label: "Other", value: "other" },
];

---

<OnboardLayout>

    <div class="maindiv py-32">

        <div class="container flex justify-between items-center lg:max-w-6xl">
            <h4 class="text-black text-sm font-semibold lg:text-lg text-wrap">Profile Setup</h4>
            <img src="/welcome-uncle.svg" alt="uncle" class="hidden lg:block">
            <h4 class="text-black text-sm font-semibold lg:text-lg text-wrap">Step 4 of 4</h4>
        </div>

        <div class="container lg:z-10 lg:mt-[-8rem] lg:max-w-6xl mx-auto relative bg-muted border rounded-xl p-4">
            
            <h4 class="text-center text-2xl lg:text-4xl font-bold p-4 uppercase text-primary">Sign Up</h4>

            <div class="flex flex-col gap-12 p-4">

                <p class="text-secondary-foreground text-center lg:text-left text-xs lg:text-md font-semibold">More About Me</p>

                <div class="flex flex-wrap gap-6">
                  <div class="flex-1 min-w-[200px]">
                      <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">My hobbies, lifestyle, interests & skills</h6>
                      <Textarea placeholder="Please provide your hobbies, lifestyle, interests & skills" className="h-20"/>
                  </div>
                </div>

                <p class="text-secondary-foreground text-center lg:text-left text-xs lg:text-md font-semibold">Dressing / Covering</p>

                <div class="flex flex-wrap gap-6">
                  <div class="flex-1 min-w-[200px]">
                      <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">My dressing / covering preferences</h6>
                      <Textarea placeholder="Please provide your dressing / covering preferences" className="h-20"/>
                  </div>
                </div>


















                <div class="flex flex-wrap gap-6">
                    <div class="flex-1 min-w-[200px]">
                        <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Devotion</h6>
                        <CustomSelect client:load name="nationality" placeholder="How devoted are you to your religion?" options={devotionOptions} onChange={(value) => handleSelectChange(value, "devotion")}/>
                    </div>

                    <div class="flex-1 min-w-[200px]">
                        <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Sect</h6>
                        <CustomSelect client:load name="residence" placeholder="What sect are you from?" options={sectOptions} onChange={(value) => handleSelectChange(value, "sect")}/>
                    </div>
                </div>

                <div class="flex flex-wrap gap-6">
                    <div class="flex-1 min-w-[200px]">
                        <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Revert</h6>
                        <CustomSelect client:load name="revert" placeholder="Did you revert to your religion?" options={revertOptions} onChange={(value) => handleSelectChange(value, "revert")}/>
                    </div>

                    <div class="flex-1 min-w-[200px]">
                        <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Practicing Since</h6>
                        <CustomSelect client:load name="practicingSince" placeholder="When did you start practicing your religion?" options={practicingSinceOptions} onChange={(value) => handleSelectChange(value, "practicingSince")}/>
                    </div>
                </div>

                <div class="flex flex-wrap gap-6">
                    <div class="flex-1 min-w-[200px]">
                        <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Prayer Pattern</h6>
                        <CustomSelect client:load name="prayerPattern" placeholder="What is your prayer pattern?" options={prayerPatternOptions} onChange={(value) => handleSelectChange(value, "prayerPattern")}/>
                    </div>
                </div>
        
                <p class="text-secondary-foreground text-center lg:text-left text-xs lg:text-md font-semibold">My Education & Employment</p>

                <div class="flex flex-wrap gap-6">
                  <div class="flex-1 min-w-[200px]">
                      <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">Education & Employment</h6>
                      <Textarea placeholder="Please provide your education and employment details" className="h-20"/>
                  </div>
                </div>

                <p class="text-secondary-foreground text-center lg:text-left text-xs lg:text-md font-semibold">My Ideal Partner</p>

                <div class="flex flex-wrap gap-6">
                  <div class="flex-1 min-w-[200px]">
                      <h6 class="text-primary text-sm lg:text-lg font-semibold mb-2">What would my ideal partner be like?</h6>
                      <Textarea placeholder="Please provide your ideal partner details" className="h-20"/>
                  </div>  
              </div>


            </div>

            <div id="btns" class="flex flex-col lg:flex-row gap-5 justify-between px-20 mt-20">
                <button class="lg:px-16 lg:py-2 py-2 px-10 max-w-fit mx-auto bg-secondary border border-primary text-sm lg:text-lg text-primary rounded-xl font-semibold"><a href="/Onboardpage2">Back</a></button>
                <button class="lg:px-16 lg:py-2 py-2 px-10 max-w-fit mx-auto bg-primary text-sm lg:text-lg text-secondary rounded-xl font-semibold"><a href="/">Sign Up</a></button>
              </div>      
        </div>
    </div>

    <div class="flex flex-col gap-4 justify-center">
        <button class="lg:px-8 px-6 max-w-fit mx-auto mt-10 text-sm lg:text-lg text-primary rounded-xl font-medium border border-primary bg-transparent flex items-center gap-2"><a href="/">Back to Home</a></button>
        <p class="text-center text-sm lg:text-lg text-primary font-medium">Already have an Account?<a href="/login" class="text-primary font-semibold"> Sign In</a> instead.</p>
      </div>
  
</OnboardLayout>
